## Assignment 3 - Competitive Assignment
An explanation this assignment could be found in the .pdf explanation document

### Preceding Step - import modules (packages)
This step is necessary in order to use external modules (packages). <br/>

In [1]:
#Name : Daniel Gelfand
#ID = 209380773

In [2]:
# imports for reading and writing (input & output) files:
import pandas as pd
import os

In [3]:
### add whatever imports you need
# YOUR CODE HERE
import warnings
import numpy as np
from sklearn.metrics import f1_score
from sklearn.preprocessing import StandardScaler
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.model_selection import train_test_split
from sklearn import metrics # f1
from sklearn.pipeline import Pipeline
warnings.simplefilter("ignore")
%matplotlib inline
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"
from sklearn import tree
from sklearn.tree import DecisionTreeClassifier

### Reading input files
Reading input files for train annotated corpus (raw text data) corpus and for the test corpus

In [4]:
train_filename = '.' + os.sep + 'input' + os.sep + 'annotated_corpus_for_train.xlsx'
test_filename  = '.' + os.sep + 'input' + os.sep + 'corpus_for_test.xlsx'
df_train = pd.read_excel(train_filename, 'corpus', index_col=None, na_values=['NA'])
df_test  = pd.read_excel(test_filename,  'corpus', index_col=None, na_values=['NA'])

In [5]:
df_train.head(8)

                                               story gender
0  בוקר אחד קמתי סהרורי יצאתי מהמיטה קצת מטושטש ,...      m
1  לחבר שלי היה יום הולדת וחיפשנו מה אפשר לעשות ל...      m
2  השנה האחרונה הייתה שנת קורונה, שנה לא פשוטה בק...      m
3  לפני כחצי שנה עברתי לגור בצפון עם בת זוגתי, עב...      m
4  יום חמישי רגיל, תמיד מתחיל לעבור טיפה מאוחר יו...      m
5  בשנה האחרונה חוויתי את מגפת הקורונה שהכריח את ...      m
6  בסמסטר קודם אני וכמה חברים ללימודים קבענו להיפ...      m
7  בשנה האחרונה למרות שלא היו יותר מידיי דברים לע...      f

In [6]:
df_test.head(3)

   test_example_id                                              story
0                0  כחלק ממסגרת ההתנדבות שלי במגלה אני הולך לפעמיי...
1                1  לפני שנה החלטתי שאני רוצה להיות טייס, התחלתי ל...
2                2  בתקופת הקורונה של תחילת החיסונים נגד קורונה, א...

### Your implementation:
Write your code solution in the following code-cells

In [7]:
# החלפה מסטרינג לנומרי לצורך המשך האלגוריתמים
X = df_train['story']
y = df_train['gender']

y = y.replace('m', 1)
y = y.replace('f', 0)

In [8]:
#פיצול הדאטה לאימון ובדיקה 0.80 0.20

x_train, x_test, y_train, y_test = train_test_split(X, y, test_size = 0.2,random_state= 1)

In [9]:
# כאן הרצתי לולאות על מנת לקבל את הערכים הכי טובים ולכן בחרתי בערכיים סופיים של 6800,23 ו 1,5
text_clf_Decision_Tree = Pipeline([
    ('vect', CountVectorizer(max_features=6800,ngram_range=(1,5))),
    ('clf', DecisionTreeClassifier(random_state=23))])

text_clf_Decision_Tree.fit(x_train, y_train)
predicted_train = text_clf_Decision_Tree.predict(x_test)

Pipeline(steps=[('vect',
                 CountVectorizer(max_features=6800, ngram_range=(1, 5))),
                ('clf', DecisionTreeClassifier(random_state=23))])

In [10]:
# חיזויים לטסט המבוקש 
X_test = df_test['story']
predict_temp_df = text_clf_Decision_Tree.predict(X_test)

In [11]:
# YOUR CODE HERE
#מכניס את החיזויים לדאטא
final_dataframe = df_test.copy()
for i in range(0,len(final_dataframe['test_example_id'])):
    final_dataframe['test_example_id'][i] = predict_temp_df[i] 
    
#הופך את 1 ו 0 לגבר ואישה
final_dataframe['test_example_id'] = final_dataframe['test_example_id'].replace(1,'m')
final_dataframe['test_example_id'] = final_dataframe['test_example_id'].replace(0,'f')

### Save output to csv
After you're done save your output to the 'classification_results.csv' csv file.<br/>
We assume that the dataframe with your results contain the following columns:
* column 1 (left column): 'test_example_id'  - the same id associated to each of the test stories to be predicted.
* column 2 (right column): 'predicted_category' - the predicted gender value for each of the associated story. 

Assuming your predicted values are in the `df_predicted` dataframe, you should save you're results as following:

In [12]:
df_predicted = pd.DataFrame(columns = ['test_example_id','predicted_category'])
df_predicted['test_example_id'] = df_test['test_example_id']
df_predicted['predicted_category'] = final_dataframe['test_example_id']
df_predicted.to_csv('classification_results.csv',index=False)